# Virtual environment
.venv/

# Python cache / compiled files
__pycache__/
*.py[cod]

# Environment variables
.env

# Static / media builds
staticfiles/
media/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
